<div class="container">
  <div class="mobile"></div>
  <div class="login-container">
    <form action="#">
      <div class="form-container">
      <div class="signCon">
        <div class="signIn">
          <a href="#" class="left ">SIGN IN</a>
        </div>
        <div class="signOut">
          <a href="#" class="right">SIGN UP</a>
        </div>
      </div>
        <p class="signtext">USER SIGN IN</p>
        <div class="input-div one focus">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div>
            <h5>User Name</h5>
            <input class="input" type="text">
          </div>
        </div>
        <div class="input-div two">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div>
            <h5>Password</h5>
            <input class="input" type="password">
          </div>
        </div>
        <a href="#" class="btn">PROCEED &rarr;</a>
        <hr>
        <a class="fpw" href="#"> Forgot Password?</a>
      </div>
    </form>
  </div>
</div>