<div class="container1" [ngClass]="{'sign-up-mode':isSlected}">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="#" class="sign-in-form">
            <button class="btn transparent signupBtn">
                Sign in
              </button>
              
              <div class="form-group nomargin formGrp user">
                <div class="icon">
                  <i class="fas fa-user"></i>
                </div>
                <div>
                  <input type="user" class="form-control userBox" id="user"  placeholder="Enter name">
                </div>
              </div>
              <div class="form-group nomargin formGrp password">
                <div class="icon">
                  <i class="fas fa-lock"></i>
                </div>
                <div>
                  <input type="password" class="form-control passwordBox" id="" placeholder="Password">
                </div>  
              </div>
              <button type="submit" class="btn loginBtn btn-block">Submit <span>&rarr;</span></button>
              <hr>
                      <a class="fpw" href="#"> Forgot Password?</a>
        </form>
        <form action="#" class="sign-up-form">
            <button class="btn transparent signupBtn" >
                Sign out
              </button>
              <div class="form-group nomargin formGrp user">
                <div class="icon">
                  <i class="fas fa-user"></i>
                </div>
                <div>
                  <input type="user" class="form-control userBox" id="user"  placeholder="Enter name">
                </div>
              </div>
             
              <div class="form-group nomargin formGrp password">
                <div class="icon">
                  <i class="fas fa-lock"></i>
                </div>
                <div>
                  <input type="password" class="form-control passwordBox" id="" placeholder="Password">
                </div>  
              </div>
              <button type="submit" class="btn loginBtn btn-block">Submit <span>&rarr;</span></button>
              <hr>
                      <a class="fpw" href="#"> Forgot Password?</a>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          </p>
          <button class="btn transparent signupBtn" id="sign-up-btn" (click) ="ani()">
            Sign up
          </button>
        </div>
        <img src="../assets/register.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </p>
          <button class="btn transparent signupBtn" id="sign-in-btn" (click) ="ani1()">
            Sign in
          </button>
        </div>
        <img src="../assets/logo.svg" class="image" alt="" />
      </div>
    </div>
  </div>